.summaryCard {
    background-color: #fff;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
  }
  
  .summaryCard img {
    height: 120px;
  }
  
  .content {
    margin: 1rem;
  }
  
  .type {
    color: #718ebf;
    font-size: 1rem;
    font-family: sans-serif;
  }
  
  .credit {
    color: #16dbaa;
    font-size: 32px;
    font-weight: 600;
    font-family: sans-serif;

  }
  
  .debit {
    color: #fe5c73;
    font-size: 32px;
    font-weight: 600;
    font-family: sans-serif;

  }

  /* For Small Devices (e.g., Mobile Phones) */
@media screen and (max-width: 576px) {
  .summaryCard {
    width: 100%;
    max-width: 300px;
  }
  .summaryCard img {
    height: 80px;
    margin-bottom: 1rem;
  }

  .content {
    text-align: center;
    margin: 0.5rem;
  }

  .type {
    font-size: 14px;
  }

  .credit,
  .debit {
    font-size: 24px;
  }
}

/* For Medium Devices (e.g., Tablets) */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .summaryCard img {
    height: 100px;
  }

  .type {
    font-size: 16px;
  }

  .summaryCard {
    width: 80%;
    max-width: 300px; 
  }

  .credit,
  .debit {
    font-size: 28px;
  }
}
