.failureView {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #505887;
}

.icon {
  font-size: 4rem;
}

.failureView h3 {
  font-weight: 500;
}

/* For Small Devices (e.g., Mobile Phones) */
@media screen and (max-width: 576px) {
  .failureView {
    height: 70vh;
  }

  .icon {
    font-size: 3rem;
  }

  .failureView h3 {
    font-size: 18px;
  }
}

/* For Medium Devices (e.g., Tablets) */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .failureView {
    height: 75vh;
  }

  .icon {
    font-size: 3.5rem;
  }

  .failureView h3 {
    font-size: 20px;
  }
}
