.overviewChart {
    background-color: #fff;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 1rem;
    color: #718ebf;
  }
  
  .overviewChart-para {
    margin: 0 2rem;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
  
  .overviewChart-span {
    color: #333b69;
    padding-left: 8px;
    padding-right: 8px;
  }

  /* For Small Devices (e.g., Mobile Phones) */
@media screen and (max-width: 576px) {
  .overviewChart {
    padding: 0.8rem;
  }

  .overviewChart-para {
    margin: 0 1rem;
    font-size: 12px;
  }
}

/* For Medium Devices (e.g., Tablets) */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .overviewChart {
    padding: 1rem;
  }

  .overviewChart-para {
    margin: 0 2rem;
    font-size: 14px;
  }
}
